{% extends 'base.html.twig' %}

{% block title %}Admin - Categories{% endblock %}

{% block body %}

    <h1>Ajouter une nouvelle catégorie</h1>

    {% if message is defined%}
    <div class="bg-danger text-light my-4 py-2">
        <span>{{message}}</span>
    </div>
    {% endif %}

    {{ include('admin_category/_form.html.twig') }}

    <a href="{{ path('app_admin_category_index') }}">Retour à la liste</a>
{% endblock %}
