{# {% extends 'base.html.twig' %}

{% block title %}Ajouter un administrateur{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel administrateur</h1>

    {{ include('admin_user/_form.html.twig') }}

    <a href="{{ path('app_admin_user_index') }}">Retour à la liste</a>
{% endblock %} #}
